<!-- layouts/partials/rating-row.html -->

{{ $score := .score }}
{{ $width := replace $score "." "" }}

<div class="kb-rating-row">

  <div class="kb-rating-label">
      <i class="fa-solid {{ .icon }}"></i>
          <span>{{ .label }}</span>
            </div>
            
              <div class="kb-rating-bar">
                  <div
                        class="kb-rating-fill"
                              style="width: calc({{ $score }} * 10% )">
                                  </div>
                                    </div>
                                    
                                      <div class="kb-rating-score">
                                          {{ $score }}
                                            </div>
                                            
                                            </div>-->